html,body{
    background-color: rgb(235, 238, 240);
    width: 100%;
    height: 100%;
}
body{
    margin-bottom: 20px;

}
/* .Login-bg{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
} */
/* rgb(235, 238, 240); */